
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
  
                  <h1 class="mb-3">Check your email</h1>
                  <div class="mb-3">
                    <span>
                      We've sent an email to <strong>{{censorEmail(userEmail) }}</strong> Click the link in the email to reset your password.
                      <!-- We've sent an email to sh***********@g****.***. Click the link in the email to reset your password. -->
                    </span>
                  </div>
                  <div class="mb-3">
                    <span>
                      If you don't see the email, check other places it might be, like your junk, spam, social, or other folders.
                    </span>
                  </div>
                  <div class="mb-3">
                    <a href="">
                      I didn't receive the email
                    </a>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>