<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                  <h1 class="mt-3">Find your account</h1>

                  <div class="row">
                    <div class="col-12 mt-3">
                      <div class="mb-3">
                      <p >Enter your registered email to get reset link</p>
                    </div>

                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-envelope"></i></span>
                        </div>
                        <input type="email" placeholder="Email" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                      </div>

                      <button class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Continue
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 mt-3">
                      <p>Thanks,</p>
                      <p>Ztric India</p>
                    </div>
                  </div>

                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>